<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JBUIT - We Connect|We Impact|We Build</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="short icon" type="icon" href="./images/logo.jpeg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<nav>
			<span class="logo">
				<img src="./images/logo.jpeg">
				<h1>JBUIT</h1>
			</span>
			<ul>
				<li><a href="#courses">Courses</a></li>
				<li><a href="#testimonial">Testimonial</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><button>Get Started</button></li>
			</ul>
			<div>
				<i class="fa fa-bars fa-2x"></i>
			</div>
		</nav>
		<div class="header-div">
			<h1>
				Learn at your <br><span>convenience</span>
			</h1>
			<p>
				The Best learning platform to acquire a skill via a mentor, track your knowledge<br> and hit your financial dream with your skills
			</p>
			<button>Get Started</button>
		</div>
	</header>
	<main id="courses">
		<h2><span>Courses</span></h2>
		<div class="card row">
			<div class="card-cover row">
				<div class="card-details">
					<h2>Frontend Development</h2>
					<h3>Languages</h3>
					<ul>
						<li>HTML 5</li>
						<li>CSS 3</li>
						<li>Bootstrap</li>
						<li>Javascript</li>
						<li>React JS</li>
					</ul>
					<button>See Curriculum</button>
					<button>About Tutor</button>
				</div>
				<div class="card-description">
					<img src="./images/frontend.jpg">
					<div>
						<h2>Description</h2>
						<span></span>
						<h4>Duration:<span></span></h4>
						<h1>Fee</h1>
						<button>Enroll Now</button>
					</div>
				</div>
			</div>
			<div class="card-cover row">
				<div class="card-details">
					<h2>Frontend Development</h2>
					<h3>Languages</h3>
					<ul>
						<li>HTML 5</li>
						<li>CSS 3</li>
						<li>Bootstrap</li>
						<li>Javascript</li>
						<li>React JS</li>
					</ul>
					<button>See Curriculum</button>
					<button>About Tutor</button>
				</div>
				<div class="card-description">
					<img src="./images/backend.jpg">
					<div>
						<h2>Description</h2>
						<span></span>
						<h4>Duration:<span></span></h4>
						<h1>Fee</h1>
						<button>Enroll Now</button>
					</div>
				</div>
			</div>
			<div class="card-cover row">
				<div class="card-details">
					<h2>Frontend Development</h2>
					<h3>Languages</h3>
					<ul>
						<li>HTML 5</li>
						<li>CSS 3</li>
						<li>Bootstrap</li>
						<li>Javascript</li>
						<li>React JS</li>
					</ul>
					<button>See Curriculum</button>
					<button>About Tutor</button>
				</div>
				<div class="card-description">
					<img src="./images/mobile_app.jpg">
					<div>
						<h2>Description</h2>
						<span></span>
						<h4>Duration:<span></span></h4>
						<h1>Fee</h1>
						<button>Enroll Now</button>
					</div>
				</div>
			</div>
			<div class="card-cover row">
				<div class="card-details">
					<h2>Frontend Development</h2>
					<h3>Languages</h3>
					<ul>
						<li>HTML 5</li>
						<li>CSS 3</li>
						<li>Bootstrap</li>
						<li>Javascript</li>
						<li>React JS</li>
					</ul>
					<button>See Curriculum</button>
					<button>About Tutor</button>
				</div>
				<div class="card-description">
					<img src="./images/data_science.jpg">
					<div>
						<h2>Description</h2>
						<span></span>
						<h4>Duration:<span></span></h4>
						<h1>Fee</h1>
						<button>Enroll Now</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	<section>
		<h2><span>Programme Benefits</span></h2>
		<div class="benefits row">
			<div>
				<span class="row">
					<h3>Learn with others</h3>
					<img src="./images/partner.png">
				</span>
				<p>
					You get to learn at your convenience with other students in your cohorts, lets say you missed a class; you will get the pre-recorded video of the class you missed as meeting occur via a screen sharing platform like zoom and communication is done via an online messaging platform like whatsapp.
					You are also attached with accountablity partners in your cohort to ensure you reach your individual and group goals.
				</p>
			</div>
			<div>
				<span class="row">
					<h3>24/7 Mentorship Support</h3>
					<img src="./images/247.png">
				</span>
				<p>
					Our mentors are always available to ensure you attain mastery of your niche. Joint platforms are created with other members of the cohort where you can ask questions and get replies on any issue you are facing while learning.
				</p>
			</div>
			<div>
				<span class="row">
					<h3>Course Certification</h3>
					<img src="./images/medal.png">
				</span>
				<p>
					After the course of the program, depending on the duration it takes to complete your course; a certificate will be given to you to vet and show that you have completed your course and you are fit to take jobs and projects related to that course.
				</p>
			</div>
			<div>
				<span class="row">
					<h3>Jobs/Projects Opportunities</h3>
					<img src="./images/job.png">
				</span>
				<p>
					Our certified mentees are given projects and jobs opportunities as part of compensation for investing in themselves via our platform. These projects are from part of our in-house projects and the jobs are from legit sure listing platforms that we are connected to.
				</p>
			</div>		
		</div>
		<div class="how">
			<h2>How To Enroll into our programme</h2>
			<div class="how1 row">
				<div class="how11 row">
					<div class="how123">
						<h4>01</h4>
						<strong>Click on the "Enroll Now" Button</strong>
					</div>
					<div class="how124 row">
						<p>After selecting the course of your interest, Click on the "Enroll Now" Button to continue the enrolment process</p>
					</div>
				</div>
			</div>
			<div class="how2 row">
				<div class="how12 row">
					<div class="how123">
						<h4>02</h4>
						<strong>Fill your info and click on proceed</strong>
					</div>
					<div class="how124 row">
						<p>Fill your information(Name and Email) on the form and proceed to make button via the "Proceed" Button</p>
					</div>
				</div>
			</div>
			<div class="how3 row">
				<div class="how13 row">
					<div class="how123">
						<h4>03</h4>
						<strong>Make payment</strong>
					</div>
					<div class="how124 row">
						<p>Make payment; After you have made payment you will be directed where you get to join your cohort</p>
					</div>
				</div>
			</div>
			<div class="how4 row">
				<div class="how14 row">
					<div class="how123">
						<h4>04</h4>
						<strong>Join the cohort</strong>
					</div>
					<div class="how124 row">
						<p>click on "join the cohort" button. Congratulations you are now a student of JBUIT</p>
					</div>
				</div>
			</div>
			<a href="#courses"><button>Select A Course</button></a>
		</div>
		<div class="testimonials" id="testimonial">
			<h2>What Our Students Say</h2>
			<div class="testimony-cover row">
				<div class="testimony row">
					<div class="test">
						
					</div>
				</div>
				<div class="carousel row">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
		<div class="services">
			<h2>Get Our Developers To Work For You</h2>
			<div class="works row">
				<div class="web row">
					<img src="./images/web.png">
					<h3>Web Development</h3>
					<p>
						We offer web app development and other web related technological solutions
					</p>	
				</div>

				<div class="mobile row">
					<img src="./images/mobile.png">
					<h3>Mobile Development</h3>	
					<p>
						We offer mobile app development and other mobile related technological solutions
					</p>	
				</div>

				<div class="data row">	
					<img src="./images/data.png">
					<h3>Data Science</h3>
					<p>
						We offer data analysis, artificial intelligence and data related solutions
					</p>
				</div>
			</div>
		</div>
		<div class="contact" id="contact">
			<h2>To Send Us A Message</h2>
			<p>Chat us on Whatsapp by clicking on the whatsapp icon below</p>
			<a href="https://wa.me/+2388123888508"><i class="fa fa-whatsapp fa-4x"></i></a>
		</div>
		<div class="subscribe">
			<h3>Subscribe to our newsletter to recieve weekly <br>updates from us on our trainings, services and tech related news</h3>
			<form>
				<input type="" name="" placeholder="youremail@domain.com">
				<button>Subscribe</button>
			</form>
		</div>
	</section>
	<footer class="row">
		<h3>&copy 2022. JBUIT</h3>
		<div class="media row">
			Follow us on our social media platforms
			<span class="media-pt row">
				<a href=""><i class="fa fa-twitter fa-1x"></i></a>
				<a href=""><i class="fa fa-instagram fa-1x"></i></a>
				<a href=""><i class="fa fa-facebook fa-1x"></i></a>
				<a href=""><i class="fa fa-linkedin fa-1x"></i></a>
			</span>
		</div>
	</footer>
	<div class="curriculum">
		<div class="curriculum-div">	
		</div>
	</div>
	<div class="about-tutor">
		<div class="about-tutor-div">
			
		</div>
	</div>
	<div class="enroll">
		<div class="close row">
			<span class="row">X</span>
		</div>
		<div class="enroll-form row">
			<div>
				<img src="./images/payment.jpg" />
			</div>
			<form>
				<h1>Student's Information</h1>
				<input type="text" name="form_name" placeholder="Full Name" />
				<input type="text" name="form_email" placeholder="Email Address" />
				<p>Select your preferred training choice:</p>
				<input type="radio" name="choice" /> Public <input type="radio" name="choice" /> Private <br />
				<input type="submit" name="" value="Proceed" />
			</form>
		</div>
	</div>
</body>
</html>